.sidebarItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    border-radius: 50px;
    transition: background 300ms;
    cursor: pointer;
    color: inherit;
}

@keyframes shiny {

}

.sidebarIconActive {

}

.sidebarItem:hover {
    background: rgba(231, 233, 234, 0.1);
}

.sidebarItem:hover .sidebarIcon {
    filter: sepia(100%) saturate(300%) hue-rotate(250deg);
}

.sidebarItemExpanded {
    justify-content: left;
    padding: 12px;
}

.sidebarIcon {
    width: 1.7rem;
    height: 1.7rem;
    border: 2px solid #47748c;
    border-radius: 100px;
    transform: scale(0.95);
    box-sizing: border-box;
    filter: sepia(100%) saturate(300%) hue-rotate(200deg);
    transition: 300ms;
}

.sidebarText {
    display: inline-block;
    font-size: 20px;
    margin: 0 20px;
}

/* 针对 WebKit 浏览器（如 Chrome、Edge） */
.hideScrollbar::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
    overflow: hidden;
}

/* 针对 Firefox */
.hideScrollbar {
    scrollbar-width: none; /* 隐藏滚动条 */
}

/* 针对旧版 IE 和 Edge */
.hideScrollbar {
    -ms-overflow-style: none; /* 隐藏滚动条 */
}
